#color1, .token.color1{
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, #FFF 35px, #FFF 70px);
    background-size: 110% 110%;
}

#color2, .token.color2{
    background-color:white;
    background-image: linear-gradient(90deg, var(--color2) 50%, transparent 50%),
    linear-gradient(var(--color2) 50%, transparent 50%);
    background-size: 100% 100%;
}

#color3, .token.color3{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #FFF 35px, #FFF 70px);
    background-size: 110% 110%;
}
#color4, .token.color4{
    background:
        linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
        linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 30% 190%;
    background-color: var(--color4);
}

#color5, .token.color5{
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 100% 50%;
}
#color6, .token.color6{
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50% 100%;
}
