/* https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Les_concepts_de_base */
@import url('style-css-gg.css');

:root {
    --tokens: 4;
    --lines: 9;
    --color1: #556270;
    --color2: #4ECDC4;
    --color3: #FDEA6A;
    --color4: #F38630;
    --color5: #C44D58;
    --color6: #5B4AFA;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, serif;
  font-size: 1rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #0D0C52;
  background-image: url(circle-blues.png);
}

.ads {
  margin: 50px 0;
  flex: 35%;
  text-align: center;
}

.ads > img {
  width: 80%;
}

.game-container {
  display: grid;
  flex: 65%;
  grid-gap: 20px;
  justify-items: center;
}

.options {
  position: absolute;
  right: 0;
  top: 50%;
  background: white;
  padding: 10px 3px;
  border-radius: 5pt 0 0 5pt;
}

.hide{
  display: none;
}

.game {
  display: grid;
  align-self: end;
  grid-template-columns: repeat(calc(var(--tokens)), 1fr) 1fr;
  /* grid-template-rows: repeat(var(--lines), 1fr); */
  grid-gap: 10px;
  padding: 0.5em;
  border-radius: 10pt;
  background-color: white;
  max-width: fit-content;
}

/* TOKEN LAYOUT */
.token {
  --token-h: calc(100vh / (var(--lines) + 7));
  height: var( --token-h);
  width: var( --token-h);
  /* background-color: lightgray; */
  border-radius: 50%;
  /* border: 1px solid darkgray; */
  background: white;
  border: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}

.token, .check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token.active{
  background: white;
  border: 2px solid darkslategray;
}

/* TOKEN DRAG AND DROP */
.token.over {
  box-shadow: 0px 0px 15px rgb(42 0 209 / 50%);
}

[draggable] {
  user-select: none;
}

/* TOKEN ANIMATION */
.token.bounce {
  animation: bounceIn .5s;
  -webkit-animation: bounceIn .5s;
}

@keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

/* DELETE A CHOSEN ACTIVE TOKEN */
span.token i{
  display: none;
}
.token[class*="color"]:hover i {
  display: block;
}

/* RESERVE STYLE */
.reserve{
  display: inline-flex;
  align-self: start;
  grid-gap: 5px;
  padding: 0.5em;
  border-radius: 10pt;
  background-color: white;
  max-width: fit-content;
}
#color1, .token.color1{background-color: var(--color1);}
#color2, .token.color2{background-color: var(--color2);}
#color3, .token.color3{background-color: var(--color3);}
#color4, .token.color4{background-color: var(--color4);}
#color5, .token.color5{background-color: var(--color5);}
#color6, .token.color6{background-color: var(--color6);}

.hints {
  background: lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.hints > i {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  display: block;
}

.hints:not(.active) > i {
  display: none;
}

.hints:not(.active) > span {
  display: block;
}

.hints > span {
  display: none;
}

.good-place {
  background-color: black;
  border-radius: 50%;
}

.wrong-place {
  background-color: white;
  border-radius: 50%;
}
