/* CSS.GG */
.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
  }

  .gg-close::after,
  .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
  }

  .gg-close::after {
    transform: rotate(-45deg)
  }

  .gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 22px
  }

  .gg-add::after,
  .gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
  }

  .gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
  }

  .gg-eye {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box
  }

  .gg-eye::after,
  .gg-eye::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
  }

  .gg-eye::after {
    top: 2px;
    box-shadow:
        inset 0 -8px 0 2px,
        inset 0 0 0 2px;
    width: 24px;
    height: 24px
  }

  .gg-eye::before {
    width: 8px;
    height: 8px;
    border: 2px solid;
    bottom: 4px;
    left: 8px
  }

  .gg-eye-alt {
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box
  }

  .gg-eye-alt::after,
  .gg-eye-alt::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box
  }

  .gg-eye-alt::after {
    top: 2px;
    box-shadow:
        inset 0 -8px 0 2px,
        inset 0 0 0 2px;
    width: 24px;
    height: 24px
  }

  .gg-eye-alt::before {
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    box-shadow:
        inset 0 0 0 6px,
        0 0 0 4px,
        6px 0 0 0,
        -6px 0 0 0 ;
    bottom: 4px;
    left: 8px
  }

@keyframes gg-bar {
    10% {box-shadow: inset 0 -4px 0}
    30% {box-shadow: inset 0 -10px 0}
    60% {box-shadow: inset 0 -6px 0}
    80% {box-shadow: inset 0 -8px 0}
    to {box-shadow: inset 0 -2px 0}
}

.gg-loadbar-sound,
.gg-loadbar-sound::after,
.gg-loadbar-sound::before {
    display: block;
    box-sizing: border-box;
    width: 2px;
    height: 12px;
    box-shadow: inset 0 -12px 0;
    animation: gg-bar 1.3s ease infinite alternate
}

.gg-loadbar-sound {
    position: relative;
    transform: scale(var(--ggs,1))
}

.gg-loadbar-sound::after,
.gg-loadbar-sound::before {
    content: "";
    position: absolute;
    bottom: 0
}

.gg-loadbar-sound::before {
    left: -4px;
    animation-delay: -2.4s
}

.gg-loadbar-sound::after {
    right: -4px;
    animation-delay: -3.7s
}
