{% extends "site_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block h1 %}{% endblock %}

{% block content %}

    <div class="text-center">
     <img src="{% static 'img/pug.png' %}" alt="" style="width:80px;">
    </div>
<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg mb-5">
          <div class="card-body">
            <!-- Nested Row within Card Body -->


              {% block sub-content %}


              {% endblock sub-content %}


          </div>
        </div>

      </div>

    </div>



{% endblock %}
