{% load i18n %}
{% load static %}

<h2>{% translate "Goal: guess the code with as few guess as possible" %}</h2>
  <p>
    {% blocktranslate %}
    The game board is a perforated plate with rows of four round holes arranged one behind the other to hold color pieces and, parallel to each, four smaller holes in a square arrangement to hold black and white pins.
    {% endblocktranslate %}
  </p>

  <p>
    {% blocktranslate %}
    At the beginning, the computer determines, a four-digit ordered color code chosen from six colors; each color can be used more than once. The player tries to figure out the code. To do this, he sets a similar color code as a question; on the first move he guesses blindly, on subsequent moves he guesses with the help of the answers to the previous moves, and so on.
    {% endblocktranslate %}
  </p>

  <p>
    {% blocktranslate %}
    On each move the player gets the information <b>how many pegs he has set correctly in color and position</b> and <b>how many pegs have the right color but are in a wrong position</b>. A hit in color and position is indicated by a black pin, a correct colored peg in the wrong position by a white pin
    {% endblocktranslate %}
     <img src="{% static 'img/rules/pins.jpg' %}" alt="" width="25px">.
    {% blocktranslate %}
    All questions and answers remain pinned until the end of the game.
    {% endblocktranslate %}
  </p>

  <p>
    {% blocktranslate %}
    Your goal is to guess the color code with as few questions as possible.
    {% endblocktranslate %}
  </p>


  <h2 class="pt-3">{% translate "How to play" %}</h2>

  <h3>{% translate "Place pegs and submit guess" %}</h3>
  <p>
    {% blocktranslate %}
    To place pegs on the board, click the one you want to add on first place and then the second one and so on.
    {% endblocktranslate %}
  </p>
  <img src="{% static 'img/rules/add.jpg' %}" alt="" width="200px"> 
  <p>
    {% blocktranslate %}
    To submit you guess <b>click the add button or press enter key</b>.
    {% endblocktranslate %}
  </p>

  <h3>{% translate "Place pegs one by one" %}</h3>
  <p>
    {% blocktranslate %}
    It is sometimes easier to place pegs one by one beginning by a position your are sure of. Activate this option by clicking the finger icon <i class="far fa-hand-point-up"></i>.
    {% endblocktranslate %}
  </p>
  <img src="{% static 'img/rules/select1.jpg' %}" alt="" width="200px" class="mb-4"> 

  <h3>{% translate "Colorblinds" %}</h3>
  <p>
    {% blocktranslate %}
    For colorblind people, an icon <i class="far fa-eye"></i> is available to add a pattern to pegs to distinguish them easily.
    {% endblocktranslate %}
  </p>
  <img src="{% static 'img/rules/colorblind.gif' %}" alt="" width="200px" class="mb-4"> 