{% extends 'app_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-7 col-lg-6 mx-auto my-auto">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> {% translate "Password change" %}</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
              {% comment %} <div class="dropdown-header">Dropdown Header:</div> {% endcomment %}
              <a class="dropdown-item" href="{% url 'users:account' %}">{% translate "Profile" %}</a>
              <a class="dropdown-item" href="{% url 'users:delete_account' %}">{% translate "Delete account" %}</a>
              {% comment %} <div class="dropdown-divider"></div> {% endcomment %}
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
      
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}
                <button type="submit" name="action" value="save" class="float-right btn-md btn btn-primary"><i class="fas fa-save"></i> {% translate "Save" %}</button>
              </form>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
