{% extends 'app_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

  <div class="row">
    <div class="col-xl-7 col-lg-6 mx-auto my-auto">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> {% translate "Profile" %}</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
              {% comment %} <div class="dropdown-header">Dropdown Header:</div> {% endcomment %}
              <a class="dropdown-item" href="{% url 'users:password_change' %}">{% translate "Change Password" %}</a>
              <a class="dropdown-item" href="{% url 'users:delete_account' %}">{% translate "Delete account" %}</a>
              {% comment %} <div class="dropdown-divider"></div> {% endcomment %}
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img class="avatar" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'users/img/avatar.png' %}{% endif %}" id="user_avatar" alt="{{ user.username }}">
            </div>
            <div class="col-md-8">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
                <button type="submit" name="action" value="save" class="float-right btn-md btn btn-primary"><i class="fas fa-save"></i> {% translate "Save" %}</button>
              </form>
              
              {% comment %} {% for lang_code, lang_name in languages %}
                  {% language lang_code %}
                      <li>
                      <i class="icon-wrench"></i>
                          <a href="/{{ lang_code }}/"
                              {% if lang_code == LANGUAGE_CODE %}
                              {% endif %}>
                          {% if lang_code == 'en' %}
                          <img src="{% static "img/en.png" %}" alt="Eng"
                                style="height: 13pt;
                                margin-bottom: 3pt;">
                              {{ lang_code|upper }}
                          {% endif %}
                          {% if lang_code == 'id' %}
                          <img src="{% static "img/id.png" %}" alt="Ind"
                                style="height: 13pt;
                                margin-bottom: 3pt;">
                              {{ lang_code|upper }}
                          {% endif %}

                      </a>
                      </li>
                  {% endlanguage %}
              {% endfor %} {% endcomment %}


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
