{% extends "app_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gamefilters %}

{% block addbodyscript %} class="quick" onload="disableColorBlind()"{% endblock addbodyscript %}
{% block addcontentscript %} data-current="0"{% endblock addcontentscript %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'game/css/colorblind.css' %}" />
{% endblock addcss %}


{% block addjavascript %}
    <script src="{% static 'game/js/features.js' %}"></script>
    {% if not game.date_end %}
      <script src="{% static 'game/js/clickplace.js' %}"></script>
      <script src="{% static 'game/js/play.js' %}"></script>
      {% include 'game/includes/timer-js.html' %}
    {% endif %}
{% endblock addjavascript %}


{% block content %}

    <div class="row parent">

      {% include 'game/includes/options.html' %}

      <div class="game-container col-md-6 order-md-2">

        <div class="game">

          {% for i in remain_rounds reversed %}
          
            <span class="peg {% if forloop.last and not game.win %}active{% endif %}" data-line="{{ i }}"><i class="gg-close"></i></span>
            <span class="peg {% if forloop.last and not game.win %}active{% endif %}" data-line="{{ i }}"><i class="gg-close"></i></span>
            <span class="peg {% if forloop.last and not game.win %}active{% endif %}" data-line="{{ i }}"><i class="gg-close"></i></span>
            <span class="peg {% if forloop.last and not game.win %}active{% endif %}" data-line="{{ i }}"><i class="gg-close"></i></span>

            <div class="hints {% if forloop.last and not game.win %}active{% endif %}" data-line="{{ i }}">
              <i class="gg-add guess" style="display:none;" data-url="{% url 'game:guess' game.id %}" data-guess="" data-line="{{ i }}"></i>
            </div>
          
          {% endfor %}


          {% for guess in game.guesses.all %}
          
            <span class="peg color{{ guess.color1 }}" data-line="{{ guess.num }}"><i class="gg-close"></i></span>
            <span class="peg color{{ guess.color2 }}" data-line="{{ guess.num }}"><i class="gg-close"></i></span>
            <span class="peg color{{ guess.color3 }}" data-line="{{ guess.num }}"><i class="gg-close"></i></span>
            <span class="peg color{{ guess.color4 }}" data-line="{{ guess.num }}"><i class="gg-close"></i></span>

            <div class="hints" data-line="{{ guess.num }}">
              <i class="gg-add guess" data-url="{% url 'game:guess' game.id %}" data-guess=""></i>
              {% with ''|center:guess.result.good_place as range_good_place %}
                {% for _ in range_good_place %}
                <span class="good_place"></span>
                {% endfor %}
              {% endwith %}
              {% with ''|center:guess.result.wrong_place as range_wrong_place %}
                {% for _ in range_wrong_place %}
                <span class="wrong_place"></span>
                {% endfor %}
              {% endwith %}
            </div>
          
          {% endfor %}
        </div>

        <div class='reserve mb-3'>
          <span class="peg" id="color0" draggable="true"></span>
          <span class="peg" id="color1" draggable="true"></span>
          <span class="peg" id="color2" draggable="true"></span>
          <span class="peg" id="color3" draggable="true"></span>
          <span class="peg" id="color4" draggable="true"></span>
          <span class="peg" id="color5" draggable="true"></span>
        </div>

      </div>


      <div class="col-md-6  order-md-1 text-center text-md-right pb-3 pb-md-0">

        {% if game %}
          <div id="timer">
            <div class="clock-wrapper mx-auto">
              <div class="clock">
                {% if not game.date_end %}
                  <span id="hours">00</span>
                  <span class="dots">:</span>
                  <span id="minutes">00</span>
                  <span class="dots">:</span>
                  <span id="seconds">00</span>
                {% else %}
                  {{ game.duration|duration }}
                {% endif %}
              </div>
            {% if not game.date_end %}
              <a href="{% url 'game:giveup' game.id %}" class="giveup" title="{% translate 'Giveup' %}">
                <span class="fa-stack fa-2x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-running fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            {% elif game.date_end and not game.win %}
              <span class="giveup fa-stack fa-2x" title="Failed">
                <i class="fas fa-circle fa-stack-2x text-danger"></i>
                <i class="fas fa-times fa-stack-1x fa-inverse"></i>
              </span>
            {% elif game.date_end and game.win %}
              <span class="giveup fa-stack fa-2x" title="Win">
                <i class="fas fa-circle fa-stack-2x text-success"></i>
                <i class="fas fa-check fa-stack-1x fa-inverse"></i>
              </span>
            {% endif %}
            </div>




          </div>
        
       
        {% else %}
          <h1 class="h3 mb-0 text-gray-800 mr-auto">
              <a href="{% url 'game:new_game' 'go' %}"><i class="far fa-play-circle fa-6x"></i></a>
          </h1>
        {% endif %}
         {% if game.date_end %}
          <div class='solution'>
            <span class="peg color{{ game.peg1 }}"></span>
            <span class="peg color{{ game.peg2 }}"></span>
            <span class="peg color{{ game.peg3 }}"></span>
            <span class="peg color{{ game.peg4 }}"></span>
          </div>
        {% endif %}
      </div>


    </div>

{% endblock content %}
