{% extends 'app_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load gamefilters %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}" />
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock addcss %}

{% block addjavascript %}
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'game/js/ranking.js' %}"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
{% endblock addjavascript %}

{% block content %}
  <div class="row mb-5">
    <div class="col-xl-7 col-lg-6 mx-auto my-auto">
      <div class="card shadow mb-5">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> {% translate "Ranking" %} (top 100)</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>{% translate "Rank" %}</th>
                  <th>{% translate "Player" %}</th>
                  <th>{% translate "Solution" %}</th>
                  <th>{% translate "Date" %}</th>
                  <th>{% translate "Guesses" %}</th>
                  <th>{% translate "Time" %}</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>{% translate "Rank" %}</th>
                  <th>{% translate "Player" %}</th>
                  <th>{% translate "Solution" %}</th>
                  <th>{% translate "Date" %}</th>
                  <th>{% translate "Guesses" %}</th>
                  <th>{% translate "Time" %}</th>
                </tr>
              </tfoot>
              <tbody>
              {% for game in games %}
                <tr>
                  <td>{{ forloop.counter }}
                  {% if forloop.counter == 1 %}<i class="fas fa-award" style="color: #FFD700;"></i>{% endif %}
                  {% if forloop.counter == 2 %}<i class="fas fa-award" style="color: #C0C0C0;"></i>{% endif %}
                  {% if forloop.counter == 3 %}<i class="fas fa-award" style="color: #614e1a;"></i>{% endif %}
                  </td>
                  <td>{{ game.player.username }}</td>
                  <td>
                    <a href="{% url 'game:detail' game.id %}">
                      <div class="solution small">
                        <span class="peg color{{ game.peg1 }}"></span>
                        <span class="peg color{{ game.peg2 }}"></span>
                        <span class="peg color{{ game.peg3 }}"></span>
                        <span class="peg color{{ game.peg4 }}"></span>
                      </div>
                    </a>
                  </td>
                  <td>{{ game.date_begin|date:'SHORT_DATE_FORMAT' }}</td>
                  <td>{{ game.guesses.all.count }}</td>
                  <td>{{ game.duration|duration }}</td>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>

{% endblock content %}
