{% extends "app_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block addbodyscript %} onload="disableColorBlind()"{% endblock addbodyscript %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'game/css/colorblind.css' %}" />
{% endblock addcss %}


{% block addjavascript %}
    <script src="{% static 'game/js/features.js' %}"></script>
{% endblock addjavascript %}


{% block content %}

    <div class="row parent">


      <div class="col-md-6 text-center text-md-right pb-3 pb-md-0">
        <div class="mx-auto">
          <h1 class="h3 mb-0 text-gray-800 mr-auto">
              <a href="{% url 'game:new_game' 'go' %}">
              <img src="{% static 'img/dog-play.png' %}" alt="{% translate 'Click to Play' %}" style="max-width: 60%;">
              <div class="bubble">{% translate 'Click to Play' %}</div>
              </a>
          </h1>
        </div>
      </div>
      <div class="game-container col-md-6">

        <div class="game">
          <span class="peg" data-line="9"></span>
          <span class="peg" data-line="9"></span>
          <span class="peg" data-line="9"></span>
          <span class="peg" data-line="9"></span>
          <div class="hints" data-line="9">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="8"></span>
          <span class="peg" data-line="8"></span>
          <span class="peg" data-line="8"></span>
          <span class="peg" data-line="8"></span>
          <div class="hints" data-line="8">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="7"></span>
          <span class="peg" data-line="7"></span>
          <span class="peg" data-line="7"></span>
          <span class="peg" data-line="7"></span>
          <div class="hints" data-line="7">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="6"></span>
          <span class="peg" data-line="6"></span>
          <span class="peg" data-line="6"></span>
          <span class="peg" data-line="6"></span>
          <div class="hints" data-line="6">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="5"></span>
          <span class="peg" data-line="5"></span>
          <span class="peg" data-line="5"></span>
          <span class="peg" data-line="5"></span>
          <div class="hints" data-line="5">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="4"></span>
          <span class="peg" data-line="4"></span>
          <span class="peg" data-line="4"></span>
          <span class="peg" data-line="4"></span>
          <div class="hints" data-line="4">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="3"></span>
          <span class="peg" data-line="3"></span>
          <span class="peg" data-line="3"></span>
          <span class="peg" data-line="3"></span>
          <div class="hints" data-line="3">
            <i class="gg-add"></i>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
          </div>

          <span class="peg" data-line="2"><i class="gg-close"></i></span>
          <span class="peg" data-line="2"><i class="gg-close"></i></span>
          <span class="peg" data-line="2"><i class="gg-close"></i></span>
          <span class="peg" data-line="2"><i class="gg-close"></i></span>
          <div class="hints" data-line="2">
            <i class="gg-add"></i>
          </div>

          <span class="peg active" data-line="1"></span>
          <span class="peg active" data-line="1"></span>
          <span class="peg active" data-line="1"></span>
          <span class="peg active" data-line="1"></span>
          <div class="hints active" data-line="1">
            <i class="gg-add"></i>
          </div>
        </div>


      </div>
    </div>

{% endblock content %}
