{% extends 'app_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load gamefilters %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}" />
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock addcss %}

{% block addjavascript %}
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'game/js/user-games.js' %}"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
{% endblock addjavascript %}

{% block content %}
  <div class="row mb-5">
    <div class="col-xl-7 col-lg-6 mx-auto my-auto">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"> {% translate "My games" %}</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="datatable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">{% translate 'Win' %}</th>
                  <th>{% translate 'Solution' %}</th>
                  <th>{% translate 'Date' %}</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">{% translate 'Guesses' %}</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">{% translate 'Time' %}</th>
                  <th>{% translate 'Delete' %}</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>{% translate 'Win' %}</th>
                  <th>{% translate 'Solution' %}</th>
                  <th>{% translate 'Date' %}</th>
                  <th>{% translate 'Guesses' %}</th>
                  <th>{% translate 'Time' %}</th>
                  <th>{% translate 'Delete' %}</th>
                </tr>
              </tfoot>
              <tbody>
              {% for game in games %}
                <tr>
                  <td>
                    {% if not game.date_end %}
                      <span class="fa-stack small">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-hourglass-half fa-stack-1x fa-inverse"></i>
                      </span>
                    {% elif game.date_end and not game.win %}
                      <span class="fa-stack small" title="Failed">
                        <i class="fas fa-circle fa-stack-2x text-danger"></i>
                        <i class="fas fa-times fa-stack-1x fa-inverse"></i>
                      </span>
                    {% elif game.date_end and game.win %}
                      <span class="fa-stack small" title="Win">
                        <i class="fas fa-circle fa-stack-2x text-success"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                      </span>
                    {% endif %}
                  
                  </td>
                  <td>
                    <a href="{% url 'game:detail' game.id %}">
                    <div class="solution small">
                      <span class="peg color{{ game.peg1 }}"></span>
                      <span class="peg color{{ game.peg2 }}"></span>
                      <span class="peg color{{ game.peg3 }}"></span>
                      <span class="peg color{{ game.peg4 }}"></span>
                    </div>
                    </a>
                  </td>
                  <td data-sort="{{ game.date_begin|date:'%Y-%m-%d' }}">{{ game.date_begin|date:'SHORT_DATE_FORMAT' }}</td>
                  <td>{{ game.guesses.all.count }}</td>
                  <td>
                    {{ game.duration|duration }}
                  </td>
                  <td>
                    <i class="fas fa-trash-alt text-danger remove" data-url="{% url 'game:delete' game.id %}"></i>
                  </td>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
