
  .alert.alert-success {
    background-color: $green; }
  .alert.alert-error {
    background-color: $red; 
    color: $white;}
  .alert.alert-warning {
    background-color: $yellow;}
    .alert.alert-warning .close {
      color: #696969; }
  .alert.alert-info {
    background-color: $blue; }
  .alert.alert-primary {
    background-color: $indigo;
    color: #464646; }
  .alert.alert-default {
    background-color: #002d94; }
