{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block account-content %}

<div class="col-lg-6 d-none d-lg-block bg-image" style="background: url('{% static 'img/bg/signin.jpg' %}')">
</div>

<div class="col-lg-6">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Sign in' %}</h1>
    </div>

    <form class="user" method="POST">
        {% csrf_token %}
        {{ form.email|as_crispy_field }}

        {{ form.password|as_crispy_field }}

      <div class="custom-control" role="group">
          {{ form.stay_connected|as_crispy_field }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-user btn-block">
        {% translate 'Login'%} 
      </button>
    </form>

    <hr>

    <div class="text-center">
      <a class="small" href="{% url 'users:password_reset' %}">{% translate 'Forgot Password?'%}</a>
    </div>
    <div class="text-center">
      <a class="small" href="{% url 'users:signup' %}">{% translate 'Create an Account!'%} </a>
    </div>
  </div>
</div>

{% endblock %}
