{% extends "site_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block h1 %}{% translate "Sign In" %}{% endblock %}

{% block content %}

<div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              {% block account-content %}


              {% endblock account-content %}

            </div>
          </div>
        </div>

      </div>

    </div>



{% endblock %}
