{% extends "users/registration/login_base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block h1 %}Connexion{% endblock %}

{% block account-content %}

{% if validlink %}
    <h3>Changer de mot de passe</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    </form>
    {% else %}
        <p>
        Le lien de réinitialisation était invalide, potentiellement parcequ'il a déjà été utilisé.
        Merci de réitérer la demande.
        </p>
{% endif %}

{% endblock %}
