{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block account-content %}
<div class="col-lg-8 mx-auto">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Reset password' %}</h1>
    </div>

    <form class="login" method="POST">
      {% csrf_token %}
      {{ form|crispy }}

      <button class="btn btn-primary btn-block" type="submit">{% translate 'Reset password' %}</button>
    </form>
    <hr>
    <div class="text-center">
      <a class="small" href="{% url 'users:signup' %}">{% translate 'Create an Account!'%} </a>
    </div>
    <div class="text-center">
      <a class="small" href="{% url 'users:signin' %}">{% translate 'Sign in!' %}</a>
    </div>
  </div>
</div>

{% endblock %}
