{% extends "users/registration/login_base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block h1 %}Connexion{% endblock %}

{% block account-content %}

<p>
    Votre mot de passe a été réinitialisé, vous pouvez maintenant vous <a href="{% url 'users:signin' %}">connecter</a> de nouveau.
</p>

{% endblock %}
