{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Reset password" %}{% endblock %}

{% block account-content %}

<div class="col-lg-6 mx-auto">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Email sent!' %}</h1>
    </div>
    <p>{% translate "If a validated account exist with this email, you will receive an email for resetting your password. If not, please make sure you have subscribe with this account.and double check your spams" %}.</p>
    
  </div>
</div>

{% endblock %}