{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Sign Up" %}{% endblock %}

{% block account-content %}

<div class="col-lg-6 mx-auto">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Check you emails' %}</h1>
    </div>
    <p>{% translate "An activation link has been sent by mail" %}.</p>
    <p>{% translate "If you don't find it double check you spams or be patient" %}.</p>
    
  </div>
</div>

{% endblock %}
