{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Sign Up" %}{% endblock %}

{% block account-content %}

<div class="col-lg-6 d-none d-lg-block bg-image" style="background: url('{% static 'img/bg/signup.jpg' %}')">
</div>

<div class="col-lg-6">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Sign up' %}</h1>
    </div>

    <form class="user" method="POST" action="{% url 'users:signup' %}" >
      {% csrf_token %}

        {{ form.username|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}
        <div class="custom-control" role="group">
          {{ form.cgu_check|as_crispy_field }}
        </div>

      <button type="submit" name="submit" class="btn btn-primary btn-user btn-block">
        {% translate 'Create account' %}
      </button>
    </form>

    <hr>

    <div class="text-center">
      <a class="small" href="{% url 'users:password_reset' %}">{% translate 'Forgot Password?' %}</a>
    </div>
    <div class="text-center">
      <a class="small" href="{% url 'users:signin' %}">{% translate 'Already have an account: sign in!'%}</a>
    </div>
  </div>
</div>

{% endblock %}


