{% extends "users/registration/login_base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Sign Up" %}{% endblock %}

{% block account-content %}

<div class="col-lg-6 mx-auto">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">{% translate 'Your account is now active' %}</h1>
    </div>
    <p>{% translate "You may now" %} <a href="{% url 'users:signin' %}">{% translate "sign in" %} </a>.</p>
    
  </div>
</div>

{% endblock %}