<!DOCTYPE html>{% load crispy_forms_tags static i18n %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <title>{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %} - Mastermind</title>
  <meta name="description" content="{% block meta-description %}{% endblock %}">


  <!-- Custom styles for this template-->
  {% block addcss %}{% endblock addcss %}
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'css/app.min.css' %}" rel="stylesheet">


</head>

<body id="page-top" {% block addbodyscript %}{% endblock addbodyscript %}>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark toggled" id="accordionSidebar">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% if 'new_game' in request.resolver_match.url_name %}active {% endif %}">
        <a class="nav-link" href="{% url 'game:new_game' %}">
          <i class="fas fa-fw fa-gamepad"></i>
          <span>{% translate 'Play' %}</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:ranking' %}">
          <i class="fas fa-fw fa-award"></i>
          <span>{% translate 'Ranking' %}</span></a>
      </li>


      <!-- Nav Item - Language -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#language" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-language fa-fw"></i>
          <span>{% translate 'Language' %}</span>
        </a>
        <div id="language" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">


              <form id="spanish" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="language" type="hidden" value="es"></input>
                <input name="next" type="hidden" value="{{ urlpath }}">
              </form>
              <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('spanish').submit();">
                <img src="{% static 'img/flag/spain.png' %}" alt="Spanish" class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400">
                {% translate 'Spanish' %}
              </a>


              <form id="french" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="language" type="hidden" value="fr"></input>
                <input name="next" type="hidden" value="{{ urlpath }}">
              </form>
              <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('french').submit();">
                <img src="{% static 'img/flag/france.png' %}" alt="French" class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400">
                {% translate 'French' %}
              </a>


              <form id="english" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="language" type="hidden" value="en"></input>
                <input name="next" type="hidden" value="{{ urlpath }}">
              </form>
              <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('english').submit();">
                <img src="{% static 'img/flag/united-states-of-america.png' %}" alt="English" class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400">
                {% translate 'English' %}
              </a>

          </div>
        </div>
      </li>

      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Profile" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user fa-fw"></i>
          <span>{% translate 'Profile' %}</span>
        </a>
        <div id="Profile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'users:account' %}">
              <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
              {% translate 'Settings' %}
            </a>
            <a class="collapse-item" href="{% url 'game:user_games' %}">
              <i class="fas fa-chart-bar fa-sm fa-fw mr-2 text-gray-400"></i>
              {% translate 'My games' %}
            </a>
            <a class="collapse-item" href="#"  data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              {% translate 'Logout' %} 
            </a>
          </div>
        </div>
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" {% block addcontentscript %}{% endblock addcontentscript %}>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="row">
          <div class="col-xl-7 col-lg-6 mx-auto my-auto">
          {% if messages %}
            {% for message in messages %}
              <div class="card py-3 alert alert-dismissible fade show {% if message.tags %}border-bottom-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
          </div>
          </div>


          <!-- Content Row -->
          {% block content %}{% endblock content %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% translate 'Ready to Leave?' %}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">{% translate 'Select "Logout" below if you are ready to end your current session.' %}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">{% translate 'Cancel' %}</button>
          <a class="btn btn-primary" href="{% url 'users:logout' %}">{% translate 'Logout' %}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/app.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  {% block addjavascript %}{% endblock addjavascript %}

</body>

</html>
