<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
{% load i18n urls %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta name="author" content="">
  <title>{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %} - Mastermind</title>
  <meta name="description" content="{% block meta-description %}{% endblock %}">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/app.min.css' %}" rel="stylesheet">

  {% get_available_languages as LANGUAGES %}
  {% for language_code, language_name in LANGUAGES %}
  <link
      rel="alternate"
      hreflang="{{ language_code }}"
      href="{% translate_url language_code %}" />
  {% endfor %}
  <link
      rel="alternate"
      hreflang="x-default"
    href="{% translate_url en %}" />

</head>

<body class="bg-gradient-primary">

  <div class="container">

    {% if messages %}
      {% for message in messages %}
        <div class="card py-3 alert alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% block h1 %}Welcome Back!{% endblock h1 %}</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <a href="index.html" class="btn btn-primary btn-user btn-block">
                      Login
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>

    </div>
    {% endblock content %}

    <div class=" text-center">
      <div class="d-inline-flex">

        <form id="spanish" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="es"></input>
          <input name="next" type="hidden" value="{{ urlpath }}">
        </form>
        <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('spanish').submit();">
          <img src="{% static 'img/flag/spain.png' %}" alt="Spanish" class="flag">
        </a>


        <form id="french" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="fr"></input>
          <input name="next" type="hidden" value="{{ urlpath }}">
        </form>
        <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('french').submit();">
          <img src="{% static 'img/flag/france.png' %}" alt="French" class="flag">
        </a>


        <form id="english" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="en"></input>
          <input name="next" type="hidden" value="{{ urlpath }}">
        </form>
        <a class="collapse-item"  href="javascript:;" onclick="document.getElementById('english').submit();">
          <img src="{% static 'img/flag/united-states-of-america.png' %}" alt="French" class="flag">
        </a>
      </div>
    </div>

{% if rules %}
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-4">
            {% include "pages/rules.html" %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}


  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/app.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script>
  $(document).ready(function(){
    $('.toast').toast('show');
  });
  </script>

</body>

</html>
