<div class="hints active" data-line="2">
    <i class="gg-add"></i>

    {% with ''|center:guess.result.good_place as range %}
        {% for _ in range %}
            <span class="good_place"></span>
        {% endfor %}
    {% endwith %}

    {% with ''|center:guess.result.wrong_place as range %}
        {% for _ in range %}
            <span class="wrong_place"></span>
        {% endfor %}
    {% endwith %}
    
</div>