      <div id="options">
        <i class="far fa-eye colorblind-button" onclick="toggleColorBlind()" title='Colorlind is OFF'></i>
        <i class="fas fa-eye colorblind-button" style="display:none;" onclick="toggleColorBlind()" title='Colorlind is ON'></i>
        <i class="fas fa-bolt quick-button" style='display:none;' onclick="toggleQuickSelect()" title='Quick select is OFF'></i>
        <i class="far fa-hand-point-up quick-button" onclick="toggleQuickSelect()" title='Quick select is ON'></i>
      </div>