#color0, .peg.color0{
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, #FFF 35px, #FFF 70px);
    background-size: 110% 110%;
}

#color1, .peg.color1{
    background-color:white;
    background-image: linear-gradient(90deg, var(--color1) 50%, transparent 50%),
    linear-gradient(var(--color1) 50%, transparent 50%);
    background-size: 100% 100%;
}

#color2, .peg.color2{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #FFF 35px, #FFF 70px);
    background-size: 110% 110%;
}
#color3, .peg.color3{
    background:
        linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
        linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 30% 190%;
    background-color: var(--color3);
}

#color4, .peg.color4{
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 100% 50%;
}
#color5, .peg.color5{
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50% 100%;
}
