/* https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Les_concepts_de_base */
@import url('style-css-gg.css');

.bubble {
  transform: rotate(-10deg);
  bottom: 6vh;
  position: relative;
  transform-origin: right;
}

.clock-wrapper {
  width: 350px;
  height: 100px;
  position: relative;
  max-width: 100%;
}

.clock {
  text-align: center;
  color: #fff;
  user-select: none;
  font-size: 4rem;
  background-color: cornflowerblue;
}


.clock i {
  font-size: 1rem;
}


:root {
    --pegs: 4;
    --lines: 9;
    --color0: #4e73df;
    --color1: #c8c6d7;
    --color2: #4f1271;
    --color3: #ba274a;
    --color4: #ffe947;
    --color5: #ff6b35;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, serif;
  font-size: 1rem;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding-bottom: 60px;
  /* background-color: #0D0C52; */
}

.ads {
  margin: 50px 0;
  flex: 35%;
  text-align: center;
}

.ads > img {
  width: 80%;
}

.game-container {
  display: grid;
  flex: 65%;
  grid-gap: 20px;
  justify-items: center;
}

.giveup {
  position: absolute !important;
  bottom: -25px;
  right: -35px;
}

#options {
  position: absolute;
  right: 0;
  top: 40%;
  background: white;
  padding: 10px 3px;
  border-radius: 5pt 0 0 5pt;
  box-shadow: 0 5px 20px -4px rgb(0 0 0 / 66%);
  z-index: 999;
}

#options>i {
  box-sizing: border-box;
  position: relative;
  display: block;
  width:40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
}

.hide{
  display: none;
}

.game {
  display: grid;
  align-self: end;
  grid-template-columns: repeat(calc(var(--pegs)), 1fr) 1fr;
  /* grid-template-rows: repeat(var(--lines), 1fr); */
  grid-gap: 10px;
  padding: 0.5em;
  border-radius: 10pt;
  background-color: white;
  max-width: fit-content;
  border: 1px solid dodgerblue;
  box-shadow: 0 5px 20px -4px rgb(0 0 0 / 66%);
}

/* peg LAYOUT */
.peg {
  --peg-h: calc(100vh / (var(--lines) + 7));
  height: var( --peg-h);
  width: var( --peg-h);
  /* background-color: lightgray; */
  border-radius: 50%;
  /* border: 1px solid darkgray; */
  background: white;
  border: 1px solid lightgrey;
  align-items: center;
  justify-content: center;
}

.peg, .check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peg.active{
  background: white;
  border: 2px solid darkslategray;
}

/* peg DRAG AND DROP */
.peg.over {
  box-shadow: 0px 0px 15px rgb(42 0 209 / 50%);
}

[draggable] {
  user-select: none;
}

/* peg ANIMATION */
.peg.bounce {
  animation: bounceIn .5s;
  -webkit-animation: bounceIn .5s;
}

@keyframes bounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

/* DELETE A CHOSEN ACTIVE peg */
span.peg i{
  display: none;
}
.peg.active[class*="color"]:hover i {
  display: block;
}
.peg:not(.active) :hover > i {
  display: none;
}

.small {
  box-shadow: none !important;
}
.small .peg {
  width: 15px;
  height: 15px;
}

/* RESERVE STYLE */
.reserve, .solution{
  display: inline-flex;
  align-self: start;
  grid-gap: 5px;
  padding: 0.5em;
  border-radius: 10pt;
  background-color: white;
  max-width: fit-content;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
#color0, .peg.color0{background-color: var(--color0);}
#color1, .peg.color1{background-color: var(--color1);}
#color2, .peg.color2{background-color: var(--color2);}
#color3, .peg.color3{background-color: var(--color3);}
#color4, .peg.color4{background-color: var(--color4);}
#color5, .peg.color5{background-color: var(--color5);}

.hints {
  background: lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.hints > i {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  display: block;
  cursor: pointer;
}

.hints:not(.active) > i {
  display: none;
}

.hints:not(.active) > span {
  display: block;
}

.hints > span {
  display: none;
}

.good_place {
  background-color: black;
  border-radius: 50%;
}

.wrong_place {
  background-color: white;
  border-radius: 50%;
}
